.default-text-color
    color #605ca8
.text-color-red
    color red
.text-color-purple
    color #605ca8
.titulo-seccion-text-color
    color #000000
.fondo-salon-widget
    background-image: url('http://sicoes.homestead/storage/fondos/fondo_salon.png')
    background-repeat: no-repeat
    background-size: cover
    


